
.manage-salary-container {
        margin-top: 20px;
        background-image: url("../../../../assets/images/bg-profile.jpg");
        height: 100vh;
    
    .container-fluid {
        
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        padding-bottom: 15px;
        width: 98%;
        height: calc(100vh - 30px);
        // overflow-y: auto;
        overflow-x: hidden;
        z-index: 0;
    }
        .title {
            margin-bottom: 20px;
        }
    
        .title-detail{
            font-weight: 600;
            position: relative;
            height: 30px;
            margin-bottom: 2px;
            background-color: #dddddd;
            padding: 5px;
            padding-left: 10px;
            
            .btn-add{
                border-radius: 50%;
                border-color: #3073ad;
                position: absolute;
                right: 0;
                height: 25px;
                color: #3073ad;
                
            }
            .btn-add:hover {
                opacity: 0.8;
            }
           
        }
        
    // Infor ----------------------------------
    .infor {
        display: flex;
        margin-bottom: 30px;
        // gap: 20px;
    
        .select-staff {
            width: 50%;
            margin-right: 15px;
        }
    
        .month-salary {
            width: 50%;
            margin-left: 15px;
        }
    }
    // Basic - Deduction -------------------------------------
    .basic-deduction{
        display: flex;
        margin-bottom: 15px;
        .basic-salary {
            width: 50%;
            margin-right: 15px;
            border: #ddd solid 1px;
                .basic-salary-detail{
                    display: flex;
                    padding: 10px;
                }
        }
        .deduction-salary{
            width: 50%;
            margin-left: 15px;
            border: #ddd solid 1px;
            .deduction-salary-detail{
                display: flex;
                padding: 10px;
            }
        }
    }
    .bonus-project {
        display: flex;
        // margin-bottom: 15px;
        .bonus-salary {
            width: 50%;
            margin-right: 15px;
            border: #ddd solid 1px;
            .bonus-salary-detail{
                display: flex;
                padding: 10px;
                .left{
                    width: 50%;
                    margin-right: 5px;
                }
                .right{
                    width: 50%;
                    margin-left: 5px; 
                }
            }
        }
        .project-salary {
            width: 50%;
            margin-left: 15px;   
            border: #ddd solid 1px;
            .project-salary-detail{
                display: flex;
                padding: 10px;
                .left{
                    width:50%;
                    margin-right: 5px;
                }
                .right{
                    width: 50%;
                    margin-left: 5px; 
                }
            }
        }
    }
    .onsite-overtime {
        display: flex;
        margin-bottom: 15px;    
        .onsite-salary {
            width: 50%;
            margin-right: 15px;
            border: #ddd solid 1px;
            .onsite-salary-detail{
                display: flex;
                padding: 10px;
                .left {
                    width: 33%;
                    margin-right: 10px;
                }
                .middle {
                    width: 33%;
                    margin-right: 10px;
                }
                .right {
                    width: 33%;
                }
            }
            
        }
        .overtime-salary {
            width: 50%;
            margin-left: 15px; 
            border: #ddd solid 1px;
            .overtime-salary-detail{
                display: flex;
                padding: 10px;
                
            }
        }
    }

    .total-salary{
        .detail-salary {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }
        
        .detail-salary td,
        .detail-salary th {
            border: 1px solid #ddd;
            padding: 10px;
        }
        
        .detail-salary tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        .detail-salary tr:hover {
            background-color: #ddd;
        }
        
        .detail-salary th {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            background-color: rgb(206, 206, 206);
            color: #000;
        }
    }
}


