.manage-salary-month {
    background-image: url("../../../../assets/images/bg-profile.jpg");
    height: 100vh;

    .container-fluid {
    
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        padding-bottom: 15px;
        width: 98%;
        height: calc(100vh - 20px);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 0;


    }
    
    .total-salary{
        .title {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .detail-salary {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }
        
        .detail-salary td,
        .detail-salary th {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;

        }
        
        .detail-salary tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        .detail-salary tr:hover {
            background-color: #ddd;
        }
        
        .detail-salary th {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgb(206, 206, 206);
            color: #000;
        }
    }

}