.user-info{
    // background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    background-image: url("../../../../assets/images/bg-profile.jpg");
    height: 100vh;
    .avatarUser{
        position: relative;

        .avatar {
            width: 90%; 
            // height: 90%;
            border-radius: 50%;
            border: #fff solid 5px;
        }

        .icon-edit {
            position: absolute;
            right: 0;
            border-radius: 50%;
            width: 25%; 
            border: #fff solid 5px;
            background: #fff;
            // border: #17a2b8 solid 5px;
            margin-right: 6%;
            margin-top: 80%;
        }
    }
}