/*
 * General styles
 */
body,
html {
  background-image: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
  // background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  font-family: $fontmain;
  font-size: $base-size - 2px;
  height: 100vh;
  overflow: auto;
}

.content-container {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $base-size + 4px;
    margin-top: 15px;
    color: $colormain;
  }

  .content {
    margin: 15px 30px;
    box-shadow: 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
  }
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-thumb{
  background-image: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  border-radius: 100rem;
}

body ::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 100rem;
}