
.manage-salary-container {
        // .manage-salary-title {
        //     text-align: center;
        //     margin: 15px 0;
        //     font-size: 20px;
        //     text-transform: uppercase;
        //     font-weight: 600;
        // }
    
        .title-detail{
            font-weight: 600;
            position: relative;
            height: 30px;
            margin-top: 10px;
            .btn-add{
                border-radius: 50%;
                border-color: #3073ad;
                position: absolute;
                right: 0;
                height: 25px;
                width: 25x;
                color: #3073ad;
                
            }
            .btn-add:hover {
                opacity: 0.8;
            }
           
        }
    
        // .btn-primary {
        //     border-radius: 50%;
        //     background-color: #3073ad;
        //     border: #3073ad;
        // }
    
    // Table ----------------------------------
        .detail-salary {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }
        
        .detail-salary td,
        .detail-salary th {
            border: 1px solid #ddd;
            padding: 10px;
        }
        
        .detail-salary tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        .detail-salary tr:hover {
            background-color: #ddd;
        }
        
        .detail-salary th {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            background-color: rgb(206, 206, 206);
            color: #000;
        }
    // Infor ----------------------------------
    .infor {
        display: flex;
        // gap: 20px;
    
        .select-staff {
            width: 50%;
            margin-right: 15px;
        }
    
        .month-salary {
            width: 50%;
            margin-left: 15px;
        }
    }
    // Basic - Deduction -------------------------------------
    .basic-deduction{
        display: flex;
    
        .basic-salary {
            width: 50%;
            margin-right: 15px;
                .basic-salary-detail{
                    display: flex;
                }
        }
        .deduction-salary{
            width: 50%;
            margin-left: 15px;
            .deduction-salary-detail{
                display: flex;
            }
        }
    }
    .bonus-project {
        display: flex;
            
        .bonus-salary {
            width: 50%;
            margin-right: 15px;
        }
        .project-salary {
            width: 50%;
            margin-left: 15px;
        }
    }
    .onsite-overtime {
        display: flex;
            
        .onsite-salary {
            width: 50%;
            margin-right: 15px;
        }
        .overtime-salary {
            width: 50%;
            margin-left: 15px;
        }
    }
    .total-salary{
        
            // background-color: rgb(153, 153, 153);
    }
}


