.manage-event-container{
    

    .form-manage-event {
        position: relative;
        display: flex;
        margin: 15px 0;
        
        .title-event{
            width: 31%;
            margin-right: 10px;
        }
        .start-date{
            width: 31%;
            margin-right: 10px;
        }
        .end-date{
            width: 31%;
        }
    }
    
    .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        // width: 8%;
    }
    
    
}

